ul {
    overflow:hidden; 
    overflow-y:scroll;
    height:100%;
    margin: 0 0 0 0;
    color:white;
    border: 4px solid black;
    background-color: slategray;
    box-shadow: .2em .2em .4em dimgrey;
    font-size: .75em;
}