.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.center {
  margin:auto;
}

.teamTableOne {
  justify-self: end;
}

.teamTableTwo {
  justify-self: start;
}

.statTracker {
  justify-self: center;
}

.statDetail {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  justify-self: center;
  height:auto;
}

.periodSelector {
  grid-row: 3 / 4;
  grid-column: 2 / 3;
  justify-self: center;
  height:auto;
}

.main {
  display:grid;
  grid-template: repeat(4, 1fr) / 1fr 400px 1fr;
  grid-gap:20px;
  margin: auto;
  margin-top: 4em;
  min-width:800px;
  max-width: 1000px;
  height:500px;
  padding:1em;
  border:.2em solid gold;
  background-color:whitesmoke;
  box-shadow: .4em .4em 1em dimgrey;
}

h1 {
  margin: 0 0 0 0
}

h1.title {
  text-align: center;
}

h1.teamTwo {
  text-align:right;
}

.instructions {
  grid-row: 4 / 5;
  grid-column: 1 / 4;
  justify-self: center;
  text-align: center;
  font-size: .75em;
  margin: .2em 0 0 0;
  padding:0 0 0 0
}

.actionDisplayOne {
  grid-row: 2 / 4;
  grid-column: 1 / 2;
  height:auto;
}

.actionDisplayTwo {
  grid-row: 2 / 4;
  grid-column: 3 / 4;
  height:auto;
}